{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<div class="page">
  <div class="head">
    <img src="../static/img/silhouette.jpg">
    <div class="profile_name">
      <h1>Andre Boothe</h1>
    </div>
  </div>
  <div class="p_datebox content">
    <p>{{date}}</p>
  </div>
  <div class="p_content content">
    <p>
      Username: Andre Boothe<br />
      ID: 620056587<br />
      Sex: Male<br />
      Age: 22<br />
      Highest Score: 10 <br />
      TDollars: 1 000<br />
    </p>
  </div>
</div>
{% endblock %}
